//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

- var model = 'backupItem'

form.panel.panel-default(name='server-near-cache' novalidate)
    .panel-heading(bs-collapse-toggle)
        ignite-form-panel-chevron
        label Server near cache
        ignite-form-field-tooltip.tipLabel
            | Near cache settings#[br]
            | Near cache is a small local cache that stores most recently or most frequently accessed data#[br]
            | Should be used in case when it is impossible to send computations to remote nodes
        ignite-form-revert
    .panel-collapse(role='tabpanel' bs-collapse-target id='server-near-cache')
        .panel-body
            .col-sm-6
                .settings-row
                    ignite-form-field.checkbox
                        ignite-form-field-input-checkbox(
                            data-id='swapEnabled'
                            data-name='swapEnabled'
                            data-ng-model='#{model}.swapEnabled'
                        )
                        | Swap enabled
                        ignite-form-field-tooltip
                            | Flag indicating whether swap storage is enabled or not for this cache
                .settings-row(data-ng-show='#{model}.memoryMode !== "OFFHEAP_VALUES"')
                    ignite-form-field
                        ignite-form-field-label
                            | Start size:
                        ignite-form-field-tooltip
                            | Initial cache size for near cache which will be used to pre-create internal hash table after start
                        ignite-form-field-input-number(
                            data-id='nearStartSize'
                            data-name='nearStartSize'
                            data-ng-model='#{model}.nearConfiguration.nearStartSize'
                            data-ng-disabled='!#{model}.nearCacheEnabled'
                            data-placeholder='375000'
                            data-min='-1'
                        )
                .settings-row
                    -var evictionPolicy = model + '.nearConfiguration.nearEvictionPolicy'
                    -var evictionPolicyKind = evictionPolicy + '.kind'

                    ignite-form-field
                        ignite-form-field-label
                            | Eviction policy:
                        ignite-form-field-tooltip
                            | Optional cache eviction policy#[br]
                            | Must be set for entries to be evicted from on-heap to off-heap or swap
                        ignite-form-field-dropdown(
                            data-id='nearCacheEvictionPolicyKind'
                            data-name='nearCacheEvictionPolicyKind'
                            data-options='[\
                                {value: "LRU", label: "LRU"},\
                                {value: "FIFO", label: "FIFO"},\
                                {value: "SORTED", label: "Sorted"},\
                                {value: undefined, label: "Not set"}\
                            ]'
                            data-ng-model='#{evictionPolicyKind}'
                            data-ng-disabled='!#{model}.nearCacheEnabled'
                        )
                    span(ng-if='#{evictionPolicyKind}')
                        a.customize(ng-show='__.expanded' ng-click='__.expanded = false') Hide settings
                        a.customize(ng-hide='__.expanded' ng-click='__.expanded = true') Show settings
                        .panel-details.col-sm-12(ng-if='__.expanded')
                            .details-row
                                ignite-form-field(data-label='Batch size')
                                    ignite-form-field-tooltip
                                        | Number of entries to remove on shrink"
                                    ignite-form-field-input-number(
                                        data-id='nearEvictionPolicyBatchSize'
                                        data-name='nearEvictionPolicyBatchSize'
                                        data-ng-model='#{evictionPolicy}[#{evictionPolicyKind}].batchSize'
                                        data-placeholder='1'
                                    )
                            .details-row
                                ignite-form-field(data-label='Max memory size')
                                    ignite-form-field-tooltip
                                        | Maximum allowed cache size in bytes
                                    ignite-form-field-input-number(
                                        data-id='nearEvictionPolicyMaxMemorySize'
                                        data-name='nearEvictionPolicyMaxMemorySize'
                                        data-ng-model='#{evictionPolicy}[#{evictionPolicyKind}].maxMemorySize'
                                        data-placeholder='0'
                                    )
                            .details-row
                                ignite-form-field(data-label='Max size')
                                    ignite-form-field-tooltip
                                        | Maximum allowed size of cache before entry will start getting evicted
                                    ignite-form-field-input-number(
                                        data-id='nearEvictionPolicyMaxSize'
                                        data-name='nearEvictionPolicyMaxSize'
                                        data-ng-model='#{evictionPolicy}[#{evictionPolicyKind}].maxSize'
                                        data-placeholder='100000'
                                    )
            ignite-ui-ace.col-sm-6
                .preview-panel(ng-init='mode = false')
                    .preview-legend
                        a(ng-class='{active: !mode, inactive: mode}' ng-click='mode = false') XML
                        | &nbsp;
                        a(ng-class='{active: mode, inactive: !mode}' ng-click='mode = true') Java
                    .preview-content(ng-if='mode')
                        ignite-ui-ace-java(data-cluster='backupItem' data-generator='cacheDomains' data-caches='caches')
                    .preview-content(ng-if='!mode')
                        ignite-ui-ace-xml(data-cluster='backupItem' data-generator='cacheDomains' data-caches='caches')
